{% extends 'header.html' %}
{% load static %}
{% block content %}
<body>
    <div class="heading">
        <h1>Login</h1>
        <p> <a href="{% url 'index' %}">home >></a>Change Password</p>
    </div>
<section class="contact">
    <div class="row">
        {% if msg %}
        <b style="color:red;">{{msg}}</b>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <h3>Change Password</h3>
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
                {% endfor %}
                <input href="{% url 'passwordchangedone' %}" type="submit" value="Change password" class="btn">

                {% if forms.non_field_errors %}
                {% for error in form.non_field_errors %}
                     <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
        </form>   
    </div>
<section>
</body>
{% endblock content %}